div(class="bg-white shadow-lg hover:shadow-xl rounded-lg")
    img(class="object-cover h-72 w-full" src=`/uploads/${estate.image}` alt=`Imagen propiedad: ${estate.title}`)
    div(class="p-5 space-y-3")
        h3(class="text-2xl font-bold")= estate.title 
        p(class="text-sm text-gray-600") Habitaciones: 
            span(class="text-gray-800 font-bold")= estate.bedrooms
        p(class="text-sm text-gray-600") Baños: 
            span(class="text-gray-800 font-bold")= estate.wc
        p(class="text-sm text-gray-600") Precio: 
            span(class="text-gray-800 font-bold")= estate.price.value
        a(href=`/estate/${estate.id}` class="bg-indigo-600 w-full text-center block font-bold text-white p-2 uppercase rounded") Ver propiedad
